<head>
  <link rel="stylesheet" href="/stylesheet/styleadds.css">
</head>


<div class="blog-card">
    <div class="meta">

			<img class="photo" src={{this.imgPath}} width="300" height="300">
    </div>
    <div class="partialstuff">
      <h4>{{this.title}}</h4>
      <p>Produto: {{this.product}}</p>
      <p>Escola: {{this.school}}</p>
      <p>Estado de uso: {{this.tagState}}</p>
      <p>Ano Escolar: {{this.tagYear}}</p>
      <p>Preço: R${{this.value}}</p>
      <p>Descrição: {{this.description}}</p>
    </div>
  </div>
  