<div class="ads-container">
  <h1>{{this.title}}</h1>
  <img src={{this.imgPath}} alt="Product photo" width="100px">
  <h2>Escola: {{this.school}}</h2>
  <p>Descrição: {{this.description}}</p>
  <p>Valor: R$ {{this.value}}</p>
  <p>Produto: {{this.product}}</p>
  <p>Uniforme: {{this.uniforme}}</p>
  <p>Ano: {{this.tagYear}}</p>
  <p>Matéria: {{this.tagMatter}}</p>
  <p>Tamanho: {{this.tagSize}}</p>
  <p>Estado de Uso: {{this.tagState}}</p>
</div>