<div class="ads-container">
  <h1>{{this.title}}</h1>
  <img src={{this.photo}} alt="Product photo" width="100px">
  <h2>Escola: {{this.school}}</h2>
  <p>Descrição: {{this.description}}</p>
  <p>Valor: {{this.value}}</p>
  <p>Produto: {{this.product}}</p>
  <p>{{this.uniforme}}</p>
  <p>Ano: {{this.tadAno}}</p>
  <p> Matéria: {{this.tagMatter}}</p>
  <p>Tamanho: {{this.tagSize}}</p>
  <p>Estado de Uso: {{this.tagState}}</p>
</div>